<style>
.btn {
  border-radius: 50px;
  background: white;
  white-space: nowrap;
  color: black;
  padding: 10px 22px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: flex;

  &:hover {
    transition: all 0.2s ease-in-out;
    background: var(--light);
  }
}
.btn_container {
  margin-left: 33%;
}
</style>

<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name, style: "color: white;" %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, style: "color: white;" %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email, style: "color: white; padding-right: 34px;" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :slack_id, "Slack ID", style: "color: white; padding-right: 16px;" %>
    <%= form.text_field :slack_id %>
  </div>

  <br />
  <div class="btn_container">
    <%= form.submit "Create", class: "btn" %>
  </div>
<% end %>
