<style>
body {
    background: white;
}
.container{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: center;
  margin-top: 8%;
}

h1, h2, h3, h4, h5, h6, p {
  color: black;
}

.date {
  align: left;
}

.show_nav {
    display: flex;
    margin-left: 36%
}
</style>

<%= render partial: "account_header/header" %>

<div class="container card bg-light mb-3">
  <p id="notice"><%= notice %></p>

  <p>
  <strong>First Name:</strong>
  <%= @employee.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @employee.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @employee.email %>
  </p>

  <p>
    <strong>Slack ID:</strong>
    <%= @employee.slack_id %>
  </p>

  <div class="show_nav">
    <%= link_to "Edit", edit_employee_path(@employee), style: "color: black; padding: 0 10px;" %>
    <p> | </p>
    <%= link_to "Back", employees_path, style: "color: black; padding: 0 10px;" %>
  </div>
</div>
