<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<nav class="w3-dark-gray">
  <% if manager_signed_in? %> <%= link_to 'Sign Out', destroy_manager_session_path, method: :delete
  %> <%= link_to 'Employees', employees_path %> <%= link_to 'Notes', notes_path %> <% else %> <%=
  link_to 'Sign in', new_manager_session_path, class: 'button' %> <%= link_to 'Register',
  new_manager_registration_path %> <% end %>
</nav>

<!-- Moved Notice here as a placeholder. Will move it after stylizing account page -->
<p class='notice'><%= notice %></p>
<p class='alert'><%= alert %></p>

<h1 style="text-align: center">Account</h1>
<div style="margin-left: 20px">
<h4>Analytics</h4>
<br />
<select id="week" onchange="changeAnalytics()">
  <option value="9/28/20-10/4/20">Week of 9/28/20-10/4/20</option>
  <option value="10/5/20-10/11/20">Week of 10/5/20-10/11/20</option>
  <option value="10/12/20-10/18/20">Week of 10/12/20-10/18/20</option>
  <option value="10/19/20-10/25/20">Week of 10/19/20-10/25/20</option>
  <option selected="selected" value="10/26/20-11/1/20">Week of 10/26/20-11/1/20</option>
</select>
<br />
<p id="analytics_data">Showing data for week of 10/26/20-11/1/20</p>
<div id="display" style="height: 300px; text-align: center; color: #999; line-height: 300px; 
font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, 
sans-serif; margin-bottom: 20px;">
<canvas width="1162" height="375" class="chartjs-render-monitor"
style="display: block; height: 300px; width: 930px;">
</div>
<script>
  new Chartkick.PieChart(document.getElementById("display"), [["Good",44],["Okay/Fine",23],
  ["Bad",13]], {});
</script>
<br /><br />
</div>
<h4 style="margin-left: 20px">Surveys</h4>
<button id="create_survey" style="margin-left: 20px">Create New Survey</button><br><br>
<div style="margin-left: 20px">
  <% if !@surveys.empty? %>
    <% @surveys.each do |s| %>
    <tr>
      <b><td>ID: <%= s.id %></td></b><br>
      <td>Notifications sent every <%= s.day_of_week.capitalize %> @ <%= s.time_of_day.strftime("%I:%M %p") %></td><br>
      <td>Visibility: <%= s.isAnonymous.capitalize %></td><br>
      <td>Created on <%= s.created_at.strftime("%b %d") %> at <%= s.created_at.strftime("%I:%M %p") %> UTC</td><br>
      <td>
        Questions:
        <ol>
          <% s.questions.each do |q| %>
              <li><%= q.prompt %> (<%= q.question_type.dasherize.capitalize %>)</li>
          <% end %>
        </ol>
      </td>
      <%= button_to 'Send Reminders', pages_send_emails_path(id: s), method: :send_emails %>
      <br><br>
    </tr>
    <% end %>
  <% else %>
    <tr>You don't have any surveys yet!</tr>
  <% end %>
</div>

<div>
  <% @surveys.each do |survey| %>
    <div><%= survey.created_at %></div>
    <div><%= survey.time_of_day %></div>
    <button id="send_email">Send Survey via Email</button>
  <% end %>
</div>

<div id="createSurveyModal" class="modal">
  <div class="modal-content">
    <span class="close"> &times;</span>
    <h2 style="text-align: center">Enter Survey Details:</h2>
    <div class="modal-body">
      <b>Question 1:</b>
      <%= render 'surveys/form' %>
    </div>
  </div>
</div>

<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .modal-body {
    padding: 5%;
  }

  a:visited {
    color: rgb(255, 255, 255);
  }

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<script>
  var modal = document.getElementById('createSurveyModal');

  var btn = document.getElementById('create_survey');

  var span = document.getElementsByClassName('close')[0];

  btn.onclick = function () {
    modal.style.display = 'block';
  };

  span.onclick = function () {
    modal.style.display = 'none';
  };

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  };

  function changeAnalytics() {
    document.getElementById('analytics_data').innerHTML =
      'Showing data for week of ' + document.getElementById('week').value;
    new Chartkick.PieChart(document.getElementById("display"), [["Good",Math.floor(Math.random()*44)],["Okay/Fine",Math.floor(Math.random()*23)],
    ["Bad",Math.floor(Math.random()*13)]], {});
  }
</script>
