<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<%= stylesheet_pack_tag 'application' %>

<%= render :partial => 'account_header/header' %>

<!-- Moved Notice here as a placeholder. Will move it after stylizing account page -->
<p class='notice'><%= notice %></p>
<p class='alert'><%= alert %></p>

<h1 style="text-align: center">Account Dashboard</h1><br/>

<!--Anayltics -->
<div class="analytics-container">
  <div class="piechart">
    <h4>Analytics</h4>
    <br />
    <select id="number" onchange="changeAnalytics()">
      <option value="current">Current Mood Survey</option>
      <option value="recent">Recent Mood Survey</option>
      <option value="older">Older Mood Survey</option>
      <option selected="selected" value="first">First Mood Survey</option>
    </select>
    <br />
    <p id="analytics_data">Showing data for the first survey</p>
    <br />
    <div class="chart">
    <% if !@surveys.empty? %>
      <%= render partial: 'chart', locals: { chart: @surveys.first } %>
    <% end %>
    </div>
  </div>

  <%# Line plot %>
  <div class="linechart">
    <h4>Mood Tracker</h4>
    <br />
    <div id="display2" class="chart">
      <canvas width="1162" height="375" class="chartjs-render-monitor" style="display: block; height: 300px; width: 930px;">
    </div>
    <script>
      new Chartkick.LineChart(document.getElementById("display2"), [["12/3",2.7],["12/4",2.9],["12/7",2.3],["12/8",2.5],["12/9",2.4]], {});
    </script>
    <div class="linechart-buttons">
      <button class="linechart-btn" onclick="changeTimeIntervalY()">Past Year</button>
      <button class="linechart-btn" onclick="changeTimeInterval3M()">Past 3 months</button>
      <button class="linechart-btn" onclick="changeTimeIntervalM()">Past month</button>
      <button class="linechart-btn" onclick="changeTimeIntervalW()">Past week</button>
    </div>
    <br /><br />
  </div>
</div>

<!--h4 style= "margin-left: 20px">Displaying all surveys</h4-->


<br />
<br />
<div class="analytics-container">
  <div class="surveys-dashboard">
    <h4>Most Mentioned</h4>
    <br />
    <%# e = Survey.all %>
    <%# e_grouped = e.group(:name).count(:name).sort_by(&:last).reverse %>
    <%# e_grouped[0][0] %>
    <% if !(EntityNlp.all).empty? %>
      <% e = EntityNlp.all %>
      <% e_grouped = e.group(:name).sum(:count).sort_by(&:last).reverse %>
      <% if e_grouped.length == 1 %>
        <span style="color: white;">Name: <%= e_grouped[0][0] %> Times Mentioned: <%= e_grouped[0][1] %></span>
        <br/>
      <% elsif e_grouped.length == 2 %>
        <span style="color: white;">Name: <%= e_grouped[0][0] %> Times Mentioned: <%= e_grouped[0][1] %></span>
        <br/>
        <span style="color: white;">Name: <%= e_grouped[1][0] %> Times Mentioned: <%= e_grouped[1][1] %></span>
        <br/>
      <% else %>
        <span style="color: white;">Name: <%= e_grouped[0][0] %> Times Mentioned: <%= e_grouped[0][1] %></span>
        <br/>
        <span style="color: white;">Name: <%= e_grouped[1][0] %> Times Mentioned: <%= e_grouped[1][1] %></span>
        <br/>
        <span style="color: white;">Name: <%= e_grouped[2][0] %> Times Mentioned: <%= e_grouped[2][1] %></span>
        <br/>
        <br/>
      <% end %>
    <% else %>
      <span style="color: white;">No mentions yet!</span>
      <br/>
      <br/>
    <% end %>
  </div>
</div>

<br/>
<br/>
<div class="surveys-dashboard">
  <div id="react_note"> </div>
</div>
<br/>


<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
  }

  h1, h3, h4, p {
    color: white;
  }

  ol {
    text-align: center;
    list-style-position: inside;
  }

  .survey-container {
    color: white;
    margin-left: 20px;
    align-items: center;
    flex-direction: column;
    text-align: center
  }

  .analytics-container {
    /* background: #262728; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    max-width: 95wv;
    justify-content: center;
    position: relative;
    /* left: 23%; */
    margin: 0 auto;
    text-align: center;
  }
  
  .piechart {
    background: #262728;
    width: 500px;
    height: 600px;
    float: left;
  }

  .linechart {
    background: #262728;
    width: 500px;
    height: 600px;
    margin-left: 80px;
  }

  .chart{
    height: 400px; width: 400px; text-align: center; color: #fff; line-height: 300px; font-size: 14px; 
    font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 10px; display: flex; margin: 0 auto;
  }

  .linechart-buttons{
    margin-top: 40px;
  }

  .linechart-btn {
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .surveys-dashboard{
    background: #262728;
    padding-top: 10px;
    width: 1080px;
    margin: 0 auto;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .modal-body {
    padding: 5%;
  }

  /* commented this because this made the Sign Out text color white
  a:visited {
    color: rgb(255, 255, 255);
  } */

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<script>
  var modal = document.getElementById('createSurveyModal');

  var btn = document.getElementById('create_survey');

  var span = document.getElementsByClassName('close')[0];

  btn.onclick = function () {
    modal.style.display = 'block';
  };

  span.onclick = function () {
    modal.style.display = 'none';
  };

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  };

  var numMood = [];
  function recordSurveyData(moodReponse)
  {
    numMood.push(0);

  }

  var results = [];
  function storeSurveyData(QID, responseName)
  {

  }

  function changeAnalytics() 
  {
    document.getElementById('analytics_data').innerHTML = 'Showing data for ' + document.getElementById('number').value + ' survey';

    if("<%= @surveys.empty? %>" != "true")
    {
      if("<%= @surveys.last(3)[0].nil? %>" != "true" && "<%= @surveys.last(3)[1].nil? %>" != "true" && "<%= @surveys.last(3)[2].nil? %>" != "true")
      {
        if(document.getElementById('number').value == "current")
        {
          const currentData = "<%= MoodResponseChartBuilder.new(mood_survey: @surveys.last(3)[2]).pie_chart_data %>";
        
          var data = [ ["Okay", currentData[22]], ["Bad", currentData[45]], ["Good", currentData[69]], ["Terrible", currentData[97]], ["Amazing", currentData[124]] ];
          new Chartkick.PieChart(document.getElementById("display"), data, {});
        }
        
        else if(document.getElementById('number').value == "recent")
        {
          const recentData = "<%= MoodResponseChartBuilder.new(mood_survey: @surveys.last(3)[1]).pie_chart_data %>";
        
          var data = [ ["Okay", recentData[22]], ["Bad", recentData[45]], ["Good", recentData[69]], ["Terrible", recentData[97]], ["Amazing", recentData[124]] ];
          new Chartkick.PieChart(document.getElementById("display"), data, {});
        }

        else if(document.getElementById('number').value == "older")
        {
          const olderData = "<%= MoodResponseChartBuilder.new(mood_survey: @surveys.last(3)[0]).pie_chart_data %>";
        
          var data = [ ["Okay", olderData[22]], ["Bad", olderData[45]], ["Good", olderData[69]], ["Terrible", olderData[97]], ["Amazing", olderData[124]] ];
          new Chartkick.PieChart(document.getElementById("display"), data, {});
        }

        else if(document.getElementById('number').value == "first")
        {
          const firstData = "<%= MoodResponseChartBuilder.new(mood_survey: @surveys.first).pie_chart_data %>";

          var data = [ ["Okay", firstData[22]], ["Bad", firstData[45]], ["Good", firstData[69]], ["Terrible", firstData[97]], ["Amazing", firstData[124]] ];
          new Chartkick.PieChart(document.getElementById("display"), data, {});
        }

        else 
        {
          new Chartkick.PieChart(document.getElementById("display"), [["Good", 0], ["Okay", 0], ["Bad", 0], ["Terrible", 0], ["Amazing", 0]], {});
        }
      }

      else if("<%= @surveys.last(2)[0].nil? %>" != "true" && "<%= @surveys.last(2)[1].nil? %>" != "true")
      {
        if(document.getElementById('number').value == "current")
        {
          const currentData = "<%= MoodResponseChartBuilder.new(mood_survey: @surveys.last(2)[1]).pie_chart_data %>";
        
          var data = [ ["Okay", currentData[22]], ["Bad", currentData[45]], ["Good", currentData[69]], ["Terrible", currentData[97]], ["Amazing", currentData[124]] ];
          new Chartkick.PieChart(document.getElementById("display"), data, {});
        }

        else if(document.getElementById('number').value == "recent")
        {
          const recentData = "<%= MoodResponseChartBuilder.new(mood_survey: @surveys.last(2)[0]).pie_chart_data %>";
        
          var data = [ ["Okay", recentData[22]], ["Bad", recentData[45]], ["Good", recentData[69]], ["Terrible", recentData[97]], ["Amazing", recentData[124]] ];
          new Chartkick.PieChart(document.getElementById("display"), data, {});
        }

        else if(document.getElementById('number').value == "first")
        {
          const firstData = "<%= MoodResponseChartBuilder.new(mood_survey: @surveys.first).pie_chart_data %>";

          var data = [ ["Okay", firstData[22]], ["Bad", firstData[45]], ["Good", firstData[69]], ["Terrible", firstData[97]], ["Amazing", firstData[124]] ];
          new Chartkick.PieChart(document.getElementById("display"), data, {});
        }

        else
        {
          new Chartkick.PieChart(document.getElementById("display"), [["Good", 0], ["Okay", 0], ["Bad", 0], ["Terrible", 0], ["Amazing", 0]], {});
        }
      }

      else
      {
        if(document.getElementById('number').value == "current" || document.getElementById('number').value == "first")
        {
          const currentData = "<%= MoodResponseChartBuilder.new(mood_survey: @surveys.last).pie_chart_data %>";
        
          var data = [ ["Okay", currentData[22]], ["Bad", currentData[45]], ["Good", currentData[69]], ["Terrible", currentData[97]], ["Amazing", currentData[124]] ];
          new Chartkick.PieChart(document.getElementById("display"), data, {});
        }

        else
        {
          new Chartkick.PieChart(document.getElementById("display"), [["Good", 0], ["Okay", 0], ["Bad", 0]], {});
        }
      }
    }

    else 
    {
      new Chartkick.PieChart(document.getElementById("display"), [["Good", 0], ["Okay", 0], ["Bad", 0], ["Terrible", 0], ["Amazing", 0]], {});
    }
  }

  function changeTimeIntervalY() {
    // these are dummy data
    new Chartkick.LineChart(document.getElementById("display2"), [["1/9",2.2],["4/9",2.7],["7/9",2.5],["10/1",2.8],["12/9",2.4]], {});
  }
  function changeTimeInterval3M() {
    // these are dummy data
    new Chartkick.LineChart(document.getElementById("display2"), [["10/7",2.6],["10/18",2.4],["11/4",2.7],["11/22",2.2],["12/9",2.5]], {});
  }
  function changeTimeIntervalM() {
    // these are dummy data
    new Chartkick.LineChart(document.getElementById("display2"), [["11/11",2.9],["11/18",2.5],["11/25",2.1],["12/2",2.4],["12/9",2.6]], {});
  }
  function changeTimeIntervalW() {
    // these are dummy data
    new Chartkick.LineChart(document.getElementById("display2"), [["12/3",2.7],["12/4",2.9],["12/7",2.3],["12/8",2.5],["12/9",2.4]], {});
  }

</script>
