<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<%= stylesheet_pack_tag 'application' %>

<%= render :partial => 'account_header/header' %>
<%= include_gon(:init => true) %>

<!-- Moved Notice here as a placeholder. Will move it after stylizing account page -->
<p class='notice'><%= notice %></p>
<p class='alert'><%= alert %></p>

<h1 style="text-align: center">Account Dashboard</h1><br/>

<!--Graphs display on load-->
<script>
var ready;
ready = function() 
{
  changeAnalyticsNewer();
  changeTimeIntervalM();
};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>

<!--Anayltics -->
<div class="analytics-container">
  <div class="piechart">
    <h4>Analytics</h4>
    <br />
    <button class="linechart-btn" onclick="changeAnalyticsOlder()">Older</button>
    <input id="cntr" name="cntr" type="hidden" value="0" />
    <button class="linechart-btn" onclick="changeAnalyticsNewer()">Newer</button>
    <br />
    <p id="analytics_data">Showing data for the first survey</p>
    <br />
    <div class="chart">
    <div id="display" style="height: 400px; width: 400px; text-align: center; color: #fff; line-height: 300px; font-size: 14px; 
      font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 20px; display: flex">
        <canvas width="1162" height="375" class="chartjs-render-monitor" style="display: block; height: 300px; width: 930px;">
    </div>
    </div>
  </div>

  <%# Line plot %>
  <div class="linechart">
    <h4>Mood Tracker</h4>
    <br />
    <div id="display2" class="chart">
      <canvas width="1162" height="375" class="chartjs-render-monitor" style="display: block; height: 300px; width: 930px;">
    </div>
    <div class="linechart-buttons">
      <button class="linechart-btn" onclick="changeTimeIntervalM()">Past 4 Surveys</button>
      <button class="linechart-btn" onclick="changeTimeInterval2M()">Past 8 Surveys</button>
      <button class="linechart-btn" onclick="changeTimeInterval3M()">Past 12 Surveys</button>
      <!--button class="linechart-btn" onclick="changeTimeInterval6M()">Past 24 Surveys</button-->
      <!--button class="linechart-btn" onclick="changeTimeIntervalY()">Past 48 Surveys</button-->
    </div>
    <br /><br />
  </div>
</div>

<br />
<br />

<div class="wordcloud-container">
  <div class="wordcloud">
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#positive"><span style="color: black;">Most Positively Viewed</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#negative"><span style="color: black;">Most Negatively Viewed</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#controversial"><span style="color: black;">Most Controversial</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#improved"><span style="color: black;">Most Improved in Peer Review</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#drop"><span style="color: black;">Most Drop in Peer Review</span></a>
      </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="positive">
          <div class="wordcloud-container">
            <% if !(EntityNlp.where(manager_id: current_manager)).empty? %>
              <% f = EntityNlp.where(manager_id: current_manager) %>
              <% f_grouped = f.group(:name).sum(:count).sort_by(&:last).reverse %>
              <br /><br /><br /><br />
              <div id="wordCloud" class="wordcloud-container"></div>
            <% else %>
              <br /><br /><br /><br />
              <span style="color: white;">No data yet!</span>
              <br/><br/>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="negative">
          <div class="wordcloud-container">
            <% if !most_negative.empty? %>
              <% b = most_negative.select { |result| result[1] < 0 } %>
              <br /><br /><br /><br />
              <div id="negativeCloud"></div>
            <% else %>
              <br /><br /><br /><br />
              <span style="color: white;">No data yet!</span>
              <br/><br/>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="controversial">
          <div class="wordcloud-container">
            <% if !most_controversial.empty? %>
              <% c = most_controversial.select { |result| result[1] > 0 } %>
              <br /><br /><br /><br />
              <div id="controversialCloud"></div>
            <% else %>
              <br /><br /><br /><br />
              <span style="color: white;">No data yet!</span>
              <br/><br/>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="improved">
          <div class="wordcloud-container">
            <% if !most_improve_review.empty? %>
              <% d = most_improve_review.select { |result| result[1] > 0 } %>
              <br /><br /><br /><br />
              <div id="improvedCloud"></div>
            <% else %>
              <br /><br /><br /><br />
              <span style="color: white;">No data yet!</span>
              <br/><br/>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="drop">
          <div class="wordcloud-container">
            <% if !most_drop_review.empty? %>
              <% e = most_drop_review.select { |result| result[1] > 0 } %>
              <br /><br /><br /><br />
              <div id="dropCloud"></div>
            <% else %>
              <br /><br /><br /><br />
              <span style="color: white;">No data yet!</span>
              <br/><br/>
            <% end %>
          </div>
        </div>
    </div>
  </div>  
</div>
<br />
<br />

<!-- <br />
<br />
<div class="wordcloud-container">
  <div class="wordcloud">
    <h4>Most Mentioned Names</h4>
    <br />
    <% if !(EntityNlp.where(manager_id: current_manager)).empty? %>
      <% f = EntityNlp.where(manager_id: current_manager) %>
      <% f_grouped = f.group(:name).sum(:count).sort_by(&:last).reverse %>
      <br />
      <br />
      <br />
      <br />
      <div id="wordCloud" class="wordcloud-container"></div>
    <% else %>
      <br />
      <span>No data yet!</span>
      <br/>
      <br/>
    <% end %>
  </div>
</div> -->

<br />
<br />
<div class="analytics-container">
  <div class="insight-wrapper">
    <div class="insight-piece">
      <h4>Most Mentioned Names</h4>
      <br />
      <% if !(EntityNlp.all).empty? %>
        <% most_mentioned_name.each do |result| %>
          <span><%= result[0] %> : <%= result[1] %> times</span><br />
        <% end %>
      <% else %>
        <span>No data yet!</span>
        <br/>
      <% end %>
    </div>

    <div class="insight-piece">
      <h4>Most Positively Viewed</h4>
      <br />
      <% if !most_positive.empty? %>
        <% most_positive.each_with_index do |result,index|%>
          <% if result[1] > 0 %>
            <span><%= index+1%>. <%= result[0] %>  (score: <%= result[1].round(2) %>) </span><br />
          <%end %>
        <%end%>
      <%else%>
        <span>No data yet!</span>
        <br/>
      <%end%>
    </div>

    <div class="insight-piece">
      <h4>Most Negatively Viewed</h4>
      <br />
      <% if !most_positive.empty? %>
        <% most_negative.each_with_index do |result,index|%>
          <% if result[1] < 0 %>
            <span><%= index+1%>. <%= result[0] %>  (score: <%= result[1].round(2) %>) </span><br />
          <%end %>
        <%end%>
      <%else%>
        <span>No data yet!</span>
        <br/>
      <%end%>
    </div>

    <div class="insight-piece">
      <h4>Most Controversial</h4>
      <br />
      <% if !most_controversial.empty? %>
        <% most_controversial.each_with_index do |result,index|%>
          <% if result[1] > 0 %>
            <span><%= index+1%>. <%= result[0] %>  (std dev: <%= result[1].round(2) %>) </span><br />
          <%end %>
        <%end%>
      <%else%> 
        <span>No data yet!</span>
        <br/>
      <%end%>
    </div>

    <div class="insight-piece">
      <h4>Most Improved in Peer Review</h4>
      <br />
      <% if !most_improve_review.empty? %>
        <% most_improve_review.each_with_index do |result,index| %>
          <% if result[1] > 0 %>
              <span><%= index+1%>. <%= result[0] %>  (score-change: <%= result[1].round(2) %>) </span><br />
            <%end %>
        <%end%>
      <%else%> 
        <span>No one mentioned anyone twice.</span>
        <br/>
      <%end%>
    </div>

    <div class="insight-piece">
      <h4>Most Drop in Peer Review</h4>
      <br />
      <% if !most_drop_review.empty? %>
        <% most_drop_review.each_with_index do |result,index| %>
          <% if result[1] < 0 %>
              <span><%= index+1%>. <%= result[0] %>  (score-change: <%= result[1].round(2) %>) </span><br />
            <%end %>
        <%end%>
      <%else%> 
        <br/>
        <span>No one mentioned anyone twice.</span>
        <br/>
      <%end%>
    </div>

  </div>
</div>

<br/>
<br/>
<div class="surveys-dashboard">
  <div id="react_note"> </div>
</div>
<br/>


<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
  }

  h1, h3, h4, p {
    color: white;
  }

  ol {
    text-align: center;
    list-style-position: inside;
  }

  .survey-container {
    color: white;
    margin-left: 20px;
    align-items: center;
    flex-direction: column;
    text-align: center
  }

  .analytics-container {
    /* background: #262728; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    max-width: 95wv;
    justify-content: center;
    position: relative;
    /* left: 23%; */
    margin: 0 auto;
    text-align: center;
  }
  
  .piechart {
    background: #262728;
    width: 500px;
    height: 600px;
    float: left;
  }

  .linechart {
    background: #262728;
    width: 500px;
    height: 600px;
    margin-left: 80px;
  }

  .insight-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px;
    grid-auto-rows: minmax(100px, auto);
    /* grid-auto-columns: 400px; */
  }

  .insight-piece {
    background: #262728;
    width: 250px;
    height: 260px;
    color: white;
  }

  .right-insight {
    background: #262728;
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 26px;
  }

  .chart{
    height: 400px; width: 400px; text-align: center; color: #fff; line-height: 300px; font-size: 14px; 
    font-family: Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif; margin-bottom: 10px; display: flex; margin: 0 auto;
  }

  .linechart-buttons{
    margin-top: 40px;
  }

  .linechart-btn {
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .surveys-dashboard{
    background: #262728;
    padding-top: 10px;
    width: 1080px;
    margin: 0 auto;
  }

  .wordcloud {
    background: #262728;
    padding-top: 10px;
    width: 1080px;
    height: 500px;
    margin: 0 auto;
    align-items: center
    display: flex
    vertical-align: center
    horizontal-align: center
  }

  .wordcloud-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .modal-body {
    padding: 5%;
  }

  /* commented this because this made the Sign Out text color white
  a:visited {
    color: rgb(255, 255, 255);
  } */

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<script>
  // var modal = document.getElementById('createSurveyModal');

  // var btn = document.getElementById('create_survey');

  // var span = document.getElementsByClassName('close')[0];

  /*btn.onclick = function () {
    modal.style.display = 'block';
  };

  span.onclick = function () {
    modal.style.display = 'none';
  };

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  };*/

  var numMood = [];
  function recordSurveyData(moodReponse)
  {
    numMood.push(0);

  }

  var results = [];
  function storeSurveyData(QID, responseName) {}

  function changeAnalyticsNewer() 
  {
    var cntr = document.getElementById('cntr').value;
    var dummyData = [["Good", 0], ["Okay", 0], ["Bad", 0], ["Terrible", 0], ["Amazing", 0]];
    
    var Manager = gon.Manager;
    var Surveys = gon.Surveys;
    var AllQuestions = gon.questions; 

    var AllSurveys = Surveys.filter(function(survey){
      return survey.manager_id == Manager.id
    });
    
    var MRS = [];
    for(var i = 0; i < AllSurveys.length; i++)
    {
      MRS = AllQuestions.filter(function(question){
        return question.survey_id == AllSurveys[i].id && question.question_type == "mood";
      });
    }

    if(MRS.length == 0)
    {
      document.getElementById('analytics_data').innerHTML = 'Showing data for ' + 'no' + ' surveys';
      new Chartkick.PieChart(document.getElementById("display"), dummyData, {});
    }

    else
    {
      var responses = [];
      var MoodResponse = gon.MoodResponse;

      for(var i = 0; i < MRS.length; i++)
      {
        responses[i] = MoodResponse.filter(function(mResponse){
              return mResponse.question_id == MRS[i].id;
            });
      }

      var max = responses[0][0].elapsed;
      var counter = cntr;

      if(counter > 0)
        counter--;

      for(var j = 0; j < responses[0].length; j++)
      {
        if(responses[0][j].elapsed == counter)
        {
          if(responses[0][j].response == "good")
            dummyData[0][1]++;
          
          else if(responses[0][j].response == "okay")
            dummyData[1][1]++;

          else if(responses[0][j].response == "bad")
            dummyData[2][1]++;

          else if(responses[0][j].response == "terrible")
            dummyData[3][1]++;

          else if(responses[0][j].response == "amazing")
            dummyData[4][1]++;
        }
      }
      
      new Chartkick.PieChart(document.getElementById("display"), dummyData, {});
    }

    document.getElementById('analytics_data').innerHTML = 'Showing data for survey #' + (max - counter + 1);

    document.getElementById('cntr').value = counter;
  }

  function changeAnalyticsOlder() 
  {
    var cntr = document.getElementById('cntr').value;
    var dummyData = [["Good", 0], ["Okay", 0], ["Bad", 0], ["Terrible", 0], ["Amazing", 0]];
    
    var Manager = gon.Manager;
    var Surveys = gon.Surveys;
    var AllQuestions = gon.questions; 

    var AllSurveys = Surveys.filter(function(survey){
      return survey.manager_id == Manager.id
    });
    
    var MRS = [];
    for(var i = 0; i < AllSurveys.length; i++)
    {
      MRS = AllQuestions.filter(function(question){
        return question.survey_id == AllSurveys[i].id && question.question_type == "mood";
      });
    }

    if(MRS.length == 0)
    {
      document.getElementById('analytics_data').innerHTML = 'Showing data for ' + 'no' + ' surveys';
      new Chartkick.PieChart(document.getElementById("display"), dummyData, {});
    }

    else
    {
      var responses = [];
      var MoodResponse = gon.MoodResponse;

      for(var i = 0; i < MRS.length; i++)
      {
        responses[i] = MoodResponse.filter(function(mResponse){
              return mResponse.question_id == MRS[i].id;
            });
      }

      var max = responses[0][0].elapsed;
      var counter = cntr;

      if(counter < max)
        counter++;

      for(var j = 0; j < responses[0].length; j++)
      {
        if(responses[0][j].elapsed == counter)
        {
          if(responses[0][j].response == "good")
            dummyData[0][1]++;
          
          else if(responses[0][j].response == "okay")
            dummyData[1][1]++;

          else if(responses[0][j].response == "bad")
            dummyData[2][1]++;

          else if(responses[0][j].response == "terrible")
            dummyData[3][1]++;

          else if(responses[0][j].response == "amazing")
            dummyData[4][1]++;
        }
      }
      
      new Chartkick.PieChart(document.getElementById("display"), dummyData, {});

      document.getElementById('analytics_data').innerHTML = 'Showing data for survey #' + (max - counter + 1);
    
      document.getElementById('cntr').value = counter;
    }
  }

  /*
  function changeTimeIntervalY() 
  {
    // these are dummy data
    new Chartkick.LineChart(document.getElementById("display2"), [["1/9",2.2],["4/9",2.7],["7/9",2.5],["10/1",2.8],["12/9",2.4],["1/8",2.2],["4/8",2.7],["7/8",2.5],["10/8",2.8],["12/8",2.4]], {});
  }
  
  function changeTimeInterval6M() 
  {
    // these are dummy data
    new Chartkick.LineChart(document.getElementById("display2"), [["1/9",2.2],["4/9",2.7],["7/9",2.5],["10/1",2.8]], {});
  }
  */

  function changeTimeInterval3M() 
  {
    var Manager = gon.Manager;
    var Surveys = gon.Surveys;
    var AllQuestions = gon.questions; 

    var AllSurveys = Surveys.filter(function(survey){
      return survey.manager_id == Manager.id
    });
    
    var MRS = [];
    for(var i = 0; i < AllSurveys.length; i++)
    {
      MRS = AllQuestions.filter(function(question){
        return question.survey_id == AllSurveys[i].id && question.question_type == "mood";
      });
    }

    if(MRS.length == 0)
    {
      new Chartkick.LineChart(document.getElementById("display2"), [["12",0],["11",0],["10",0],["9",0],["8",0],["7",0],["6",0],["5",0],["4",0],["3",0],["2",0],["1",0]], {});
    }

    else 
    {
      var responses = [];
      var MoodResponse = gon.MoodResponse;
      var data = [["12",0],["11",0],["10",0],["9",0],["8",0],["7",0],["6",0],["5",0],["4",0],["3",0],["2",0],["1",0]];

      for(var i = 0; i < MRS.length; i++)
      {
        responses[i] = MoodResponse.filter(function(mResponse){
              return mResponse.question_id == MRS[i].id;
            });
      }

      var max = responses[0][0].elapsed;
      var negCtr = 11;

      for(var i = 0; i < 12; i++)
      {
        var avg = 0;
        for(var j = 0; j < responses[0].length; j++)
        {
          if(responses[0][j].elapsed == i)
          {
            if(responses[0][j].response == "good")
                avg += 1;
              
            else if(responses[0][j].response == "bad")
                avg -= 1;

            else if(responses[0][j].response == "terrible")
                avg -= 2;

            else if(responses[0][j].response == "amazing")
                avg += 2;
          }
        }

        if(max - i >= 0)
        {
          data[negCtr][0] = "#" + (max-i+1);
          data[negCtr][1] = avg;
          negCtr--;
        }
      }

      new Chartkick.LineChart(document.getElementById("display2"), data, {});
    }
  }

  function changeTimeInterval2M() 
  {
    var Manager = gon.Manager;
    var Surveys = gon.Surveys;
    var AllQuestions = gon.questions; 

    var AllSurveys = Surveys.filter(function(survey){
      return survey.manager_id == Manager.id
    });
    
    var MRS = [];
    for(var i = 0; i < AllSurveys.length; i++)
    {
      MRS = AllQuestions.filter(function(question){
        return question.survey_id == AllSurveys[i].id && question.question_type == "mood";
      });
    }

    if(MRS.length == 0)
    {
      new Chartkick.LineChart(document.getElementById("display2"), [["8",0],["7",0],["6",0],["5",0],["4",0],["3",0],["2",0],["1",0]], {});
    }

    else 
    {
      var responses = [];
      var MoodResponse = gon.MoodResponse;
      var data = [["8",0],["7",0],["6",0],["5",0],["4",0],["3",0],["2",0],["1",0]];

      for(var i = 0; i < MRS.length; i++)
      {
        responses[i] = MoodResponse.filter(function(mResponse){
              return mResponse.question_id == MRS[i].id;
            });
      }

      var max = responses[0][0].elapsed;
      var negCtr = 7;

      for(var i = 0; i < 8; i++)
      {
        var avg = 0;
        for(var j = 0; j < responses[0].length; j++)
        {
          if(responses[0][j].elapsed == i)
          {
            if(responses[0][j].response == "good")
                avg += 1;
              
            else if(responses[0][j].response == "bad")
                avg -= 1;

            else if(responses[0][j].response == "terrible")
                avg -= 2;

            else if(responses[0][j].response == "amazing")
                avg += 2;
          }
        }

        if(max - i >= 0)
        {
          data[negCtr][0] = "#" + (max-i+1);
          data[negCtr][1] = avg;
          negCtr--;
        }
      }

      new Chartkick.LineChart(document.getElementById("display2"), data, {});
    }
  }
  
  function changeTimeIntervalM() 
  {
    var Manager = gon.Manager;
    var Surveys = gon.Surveys;
    var AllQuestions = gon.questions; 

    var AllSurveys = Surveys.filter(function(survey){
      return survey.manager_id == Manager.id
    });
    
    var MRS = [];
    for(var i = 0; i < AllSurveys.length; i++)
    {
      MRS = AllQuestions.filter(function(question){
        return question.survey_id == AllSurveys[i].id && question.question_type == "mood";
      });
    }

    if(MRS.length == 0)
    {
      new Chartkick.LineChart(document.getElementById("display2"), [["4",0],["3",0],["2",0],["1",0]], {});
    }

    else 
    {
      var responses = [];
      var MoodResponse = gon.MoodResponse;
      var data = [["4",0], ["3",0], ["2",0], ["1",0]];

      for(var i = 0; i < MRS.length; i++)
      {
        responses[i] = MoodResponse.filter(function(mResponse){
              return mResponse.question_id == MRS[i].id;
            });
      }

      var max = responses[0][0].elapsed;
      var negCtr = 3;

      for(var i = 0; i < 4; i++)
      {
        var avg = 0;
        for(var j = 0; j < responses[0].length; j++)
        {
          if(responses[0][j].elapsed == i)
          {
            if(responses[0][j].response == "good")
                avg += 1;
              
            else if(responses[0][j].response == "bad")
                avg -= 1;

            else if(responses[0][j].response == "terrible")
                avg -= 2;

            else if(responses[0][j].response == "amazing")
                avg += 2;
          }
        }

        if(max - i >= 0)
        {
          data[negCtr][0] = "#" + (max-i+1);
          data[negCtr][1] = avg;
          negCtr--;
        }
      }

      new Chartkick.LineChart(document.getElementById("display2"), data, {});
    }
  }
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--WORD CLOUD SCRIPT AND STYLE (from jQWCloud)-->

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<%= render 'jqw_cloud.js' %>

<script>
  $(document).ready(function()
  {    
    word_list = [];
    group = <%=raw f_grouped %>;

    $.each(group, function(key, value) {
      word_list.push({word: value[0], weight: parseInt(value[1] * 10)});
    });

    positive_list = [];
    positive_group = <%= raw a %>;

    $.each(positive_group, function(key, value) {
      positive_list.push({word: value[0], weight: parseInt(value[1] * 10)});
    });

    negative_list = [];
    negative_group = <%= raw b %>;

    $.each(negative_group, function(key, value) {
      negative_list.push({word: value[0], weight: (parseInt(value[1] * 10)).abs});
    });

    controversial_list = [];
    controversial_group = <%= raw c %>;

    $.each(controversial_group, function(key, value) {
      controversial_list.push({word: value[0], weight: parseInt(value[1] * 10)});
    });

    improved_list = [];
    improved_group = <%= raw d %>;

    $.each(improved_group, function(key, value) {
      improved_list.push({word: value[0], weight: parseInt(value[1] * 10)});
    });

    drop_list = [];
    drop_group = <%= raw e %>;

    $.each(drop_group, function(key, value) {
      drop_list.push({word: value[0], weight: (parseInt(value[1] * 10)).abs});
    });
    
    $("#wordCloud").jQWCloud({
      words: word_list,
      //cloud_color: 'yellow',		
      minFont: 30,
      maxFont: 80,
      //fontOffset: 5,
      //cloud_font_family: 'Owned',
      //verticalEnabled: false,
      padding_left: 1,
      //showSpaceDIV: true,
      //spaceDIVColor: 'white',
      word_common_classes: 'WordClass'
    });

    $("#positiveCloud").jQWCloud({
      words: positive_list,
      //cloud_color: 'yellow',		
      minFont: 30,
      maxFont: 80,
      //fontOffset: 5,
      //cloud_font_family: 'Owned',
      //verticalEnabled: false,
      padding_left: 1,
      //showSpaceDIV: true,
      //spaceDIVColor: 'white',
      word_common_classes: 'WordClass'
    });

    $("#negativeCloud").jQWCloud({
      words: negative_list,
      //cloud_color: 'yellow',		
      minFont: 30,
      maxFont: 80,
      //fontOffset: 5,
      //cloud_font_family: 'Owned',
      //verticalEnabled: false,
      padding_left: 1,
      //showSpaceDIV: true,
      //spaceDIVColor: 'white',
      word_common_classes: 'WordClass'
    });

    $("#controversialCloud").jQWCloud({
      words: controversial_list,
      //cloud_color: 'yellow',		
      minFont: 30,
      maxFont: 80,
      //fontOffset: 5,
      //cloud_font_family: 'Owned',
      //verticalEnabled: false,
      padding_left: 1,
      //showSpaceDIV: true,
      //spaceDIVColor: 'white',
      word_common_classes: 'WordClass'
    });

    $("#improvedCloud").jQWCloud({
      words: improved_list,
      //cloud_color: 'yellow',		
      minFont: 30,
      maxFont: 80,
      //fontOffset: 5,
      //cloud_font_family: 'Owned',
      //verticalEnabled: false,
      padding_left: 1,
      //showSpaceDIV: true,
      //spaceDIVColor: 'white',
      word_common_classes: 'WordClass'
    });

    $("#dropCloud").jQWCloud({
      words: drop_list,
      //cloud_color: 'yellow',		
      minFont: 30,
      maxFont: 80,
      //fontOffset: 5,
      //cloud_font_family: 'Owned',
      //verticalEnabled: false,
      padding_left: 1,
      //showSpaceDIV: true,
      //spaceDIVColor: 'white',
      word_common_classes: 'WordClass'
    });
    
  });

</script>