
<!-- # <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
# <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
# <link
#   rel="stylesheet"
#   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
# /> -->

<style>
  body {
    background: white;
  }

  .container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
  }

  h1, tr, th, h3, h4, p {
    color: black;
  }

  .survey {
    width: 100%;
  }

  .survey td, .survey th {
    padding: 10px;
  }

  .smallBtn {
    border-radius: 30px;
    background: white;
    white-space: nowrap;
    color: black;
    padding: 5px 15px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  ol {
      text-align: center;
      list-style-position: inside;
  }

  .survey_tab_buttons{
    display: flex;
    margin: 0px 40px 0px 60px;
  }

  .survey-container {
    color: black;
    align-items: center;
    flex-direction: column;
    text-align: center
  }

  .analytics-container {
    /* background: #262728; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    max-width: 95wv;
    justify-content: center;
    position: relative;
    /* left: 23%; */
    margin: 0 auto;
    text-align: center;
  }

  .surveys-dashboard{
    background: #262728;
    padding-top: 10px;
    width: 1080px;
    margin: 0 auto;
  }
/*
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
  }

  .modal-body {

  }
  */

  table {
    width: 100%;
    max-width: 1000px;
  }
 
  .question th, td {
    color: black;
    padding: 10px;
    font-size: 17px;
  }

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .one-survey{
    background-color: #141414;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }

  @media (min-width: 768px) {
    .modal-xl {
      width: 90%;
      max-width: 1800px;
    }
  }
</style>

<%= render :partial => "account_header/header" %>
<%= include_gon(:init => true) %>

<div class="container card bg-light mb-3">
  <p id="notice"><%= notice %></p>
  <p class='alert'><%= alert %></p>

  <h1 style="text-align: center;">Surveys</h1><br>
    <div class= "survey-container">
      <%= link_to "Create New Survey", new_survey_path, class: "btn btn-primary", style: "color: white" %>
      <br />
      <br />
      <% if !@surveys.empty? %>
        <% @surveys.each_with_index do |survey, index| %>
        <div class="one-survey card bg-light mb-3">
        <tr>
          <b><td>Name: <%= survey.name %></td></b><br>
          <td>Notifications sent every <%= survey.day_of_weeks.to_human.join(", ") %> @ <%= survey.time_of_day.strftime("%I:%M %p") %></td><br>
          <td>Visibility: <%= survey.isAnonymous.capitalize %></td><br>
          <td>Created on <%= survey.created_at.strftime("%b %d") %> at <%= survey.created_at.strftime("%I:%M %p") %> UTC</td><br>
          <td>
            Questions:
            <ol>
              <% survey.questions.each do |q| %>
                  <li><%= q.prompt %> (<%= q.question_type.dasherize.capitalize %>)</li>
              <% end %>
            </ol>
          </td>

          <div>
          <%= link_to "Delete", survey, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", style: "color: white" %>
          <%= link_to "Edit", edit_survey_path(survey), class: "btn btn-info btn-sm", style: "color: white" %>
          <%= link_to "Send Reminders", pages_send_emails_path(id: survey), method: :send_emails, class: "btn btn-success btn-sm" %>
          <a class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-<%= survey.id %>">Show Result </a>
          </div>
          <br>
        </tr>
        </div>
        <% end %>
      <% else %>
        <tr>You don't have any surveys yet!</tr>
      <% end %>
    </div>
  

  <br />
</div>

<% @surveys.each do |survey| %>
  <!-- Modal -->
  <div class="modal fade bd-<%= survey.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content" style="padding: 20px; align-items: center; text-align: center;">
        <h2 style="text-align: center">Results for <%= survey.name %>:</h2>
        <div class="accordion" id="accordionCard">
          <% Question.where(survey_id: survey.id).each do |question| %>
            <% if question.question_type === "open_ended" %>
              <div class="card">
                <div class="card-header" id="heading-<%= question.id %>">
                  <a class="btn-link" type="button" data-toggle="collapse" data-target="#collapse-<%= question.id %>" aria-expanded="false" aria-controls="collapse-<%= question.id %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 30 30">
                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                    <b style="font-size: 30px;"><%= question.prompt %> </b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 30 30">
                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                  </a>
                </div>
                <div id="collapse-<%= question.id %>" class="collapse" aria-labelledby="heading<%= question.id %>" data-parent="#accordionCard">
                  <div class="card-body">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                      <div class="response_table">
                        <table class="question">
                          <thead>
                            <tr>
                            <% if survey.isAnonymous === "identifiable" %>
                                <th> Name </th>
                            <% end %>
                            <th> Response </th>
                            <th> Sentiment </th>
                            <th> Score </th>
                            <th> Magnitude </th>
                            </tr>
                          </thead>
                          <tbody>
                            <% OpenEndedResponse.where(question_id: question.id).each do |response| %>
                              <tr>
                                <% if survey.isAnonymous === "identifiable" %>
                                  <% employee = Employee.where(id: response.employee_id).first %>
                                  <td> <%= employee.first_name %> <%= employee.last_name %> </td>
                                <% end %>
                                <td> <%= response.response %> </td>
                                <td> <%= response.score %> </td>
                                <td> <%= response.magnitude %> </td>
                                <% if response.sentiment === "positive" %>
                                  <td style="color: #008000;"> <%= response.sentiment %> </td>
                                <% elsif response.sentiment === "slightly_positive" %>
                                  <td style="color: #00ff00;"> <%= response.sentiment %> </td>
                                <% elsif response.sentiment === "negative" %>
                                  <td style="color: #8b0000;"> <%= response.sentiment %> </td>
                                <% elsif response.sentiment === "slightly_negative" %>
                                  <td style="color: #ff4500;"> <%= response.sentiment %> </td>
                                <% elsif response.sentiment === "mixed" %>
                                  <td style="color: #041a2f;"> <%= response.sentiment %> </td>
                                <% else %>
                                  <td style="color: #8e8e96;"> <%= response.sentiment %> </td>
                                <% end %>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                      <%= pie_chart OpenEndedResponseChartBuilder.new(question: question).pie_chart_data, colors: ["#8e8e96", "#041a2f", "#ff4500", "#8b0000", "#00ff00", "#008000"], library: { legend: { labels: { fontSize: 16 } } }, width: "400px" %>
                      <br/> <br/>
                    </div>
                  </div>
                </div>
              </div>
            <% elsif question.question_type === "mood" %>
              <div class="card">
                <div class="card-header" id="heading-<%= question.id %>">
                  <a class="btn-link" type="button" data-toggle="collapse" data-target="#collapse-<%= question.id %>" aria-expanded="true" aria-controls="collapse-<%= question.id %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 30 30">
                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                    <b style="font-size: 30px;"><%= question.prompt %> </b>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 30 30">
                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                  </a>
                </div>
                <div id="collapse-<%= question.id %>" class="collapse" aria-labelledby="heading<%= question.id %>" data-parent="#accordionCard">
                  <div class="card-body">
                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                      <div class="response_table">
                        <table class="question">
                          <thead>
                            <tr>
                              <% if survey.isAnonymous === "identifiable" %>
                                <th> Name </th>
                              <% end %>
                              <th> Mood </th>
                            </tr>
                          </thead>
                          <tbody>
                            <% MoodResponse.where(question_id: question.id).each do |response| %>
                              <tr>
                                <% if survey.isAnonymous === "identifiable" %>
                                  <% employee = Employee.where(id: response.employee_id).first %>
                                  <td> <%= employee.first_name %> <%= employee.last_name %> </td>
                                <% end %>
                                <% if response.response === "amazing" %>
                                  <td style="color: #008000;"> <%= response.response %> </td>
                                <% elsif response.response === "good" %>
                                  <td style="color: #00ff00;"> <%= response.response %> </td>
                                <% elsif response.response === "terrible" %>
                                  <td style="color: #8b0000;"> <%= response.response %> </td>
                                <% elsif response.response === "bad" %>
                                  <td style="color: #ff4500;"> <%= response.response %> </td>
                                <% else %>
                                  <td style="color: #8e8e96;"> <%= response.response %> </td>
                                <% end %>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>

                      <%= pie_chart MoodResponseChartBuilder.new(question: question).pie_chart_data, colors: ["#8b0000", "#ff4500", "#8e8e96", "#00ff00", "#008000"], library: { legend: { labels: { fontSize: 16 } } }, width: "400px" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  }) 

  {/*window.onclick = function (event) {
    if (event.target == modal_sr) {
      modal_sr.style.display = 'none';
    }
  }; */}

  {/* leaving a commented code for future reference for jquery
  var modal_sr = document.getElementById('showResultModal');
  var span_sr = document.getElementsByClassName('close_sr')[0];
  var survey_clickedOn;
  console.log($(this).data('chart-d'));
  console.log($(this).data('survey-id'))

  $(document).on('click', '.js-show-results', function() {
    console.log($(this).data('chart-d'));
    show_survey_result($(this).data('survey-id'));
  });

  function show_survey_result(survey_id) {
    const survey_result_body = document.querySelector(`.survey-results-${survey_id}`);
    //modal_sr.querySelector('.modal-body').innerHTML = survey_result_body.innerHTML;
    modal_sr.style.display = 'block';
  }

  span_sr.onclick = function () {
    modal_sr.style.display = 'none';
  }; */}

  var numMood = [];
  function recordSurveyData(moodReponse)
  {
    numMood.push(0);
  }

  var results = [];
  function storeSurveyData(QID, responseName)
  {

  }

</script>