<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<style>
  body {
    background: black;
  }

  .container {
    margin-top: 50px;
    margin-bottom: 50px;
    background: #262728;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
  }

  h1, tr, th, h3, h4, p {
    color: white;
  }

  .survey {
    width: 100%;
  }

  .survey td, .survey th {
    padding: 10px;
  }

  .smallBtn {
    border-radius: 30px;
    background: white;
    white-space: nowrap;
    color: black;
    padding: 5px 15px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  ol {
      text-align: center;
      list-style-position: inside;
  }

  .survey_tab_buttons{
    display: flex;
    margin: 0px 40px 0px 60px;
  }

  .survey-container {
    color: white;
    align-items: center;
    flex-direction: column;
    text-align: center
  }

  .analytics-container {
    /* background: #262728; */
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    max-width: 95wv;
    justify-content: center;
    position: relative;
    /* left: 23%; */
    margin: 0 auto;
    text-align: center;
  }

  .surveys-dashboard{
    background: #262728;
    padding-top: 10px;
    width: 1080px;
    margin: 0 auto;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .modal-body {
    padding: 5%;
  }

  /* commented this because this made the Sign Out text color white
  a:visited {
    color: rgb(255, 255, 255);
  } */

  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .one-survey{
    background-color: #141414;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
  }
</style>

<%= render :partial => 'account_header/header' %>
<%= include_gon(:init => true) %>

<div class="container">
  <p id="notice"><%= notice %></p>
  <p class='alert'><%= alert %></p>

  <h1 style="text-align: center;">Surveys</h1><br>
    <div class= "survey-container">
      <%= link_to 'Create New Survey', new_survey_path, class: "btn", style: "color: black" %>
      <br />
      <br />
      <% if !@surveys.empty? %>
        <% @surveys.each_with_index do |survey, index| %>
        <div class="one-survey">
        <tr>
          <b><td>Name: <%= survey.name %></td></b><br>
          <td>Notifications sent every <%= survey.day_of_weeks.to_human.join(', ') %> @ <%= survey.time_of_day.strftime("%I:%M %p") %></td><br>
          <td>Visibility: <%= survey.isAnonymous.capitalize %></td><br>
          <td>Created on <%= survey.created_at.strftime("%b %d") %> at <%= survey.created_at.strftime("%I:%M %p") %> UTC</td><br>
          <td>
            Questions:
            <ol>
              <% survey.questions.each do |q| %>
                  <li><%= q.prompt %> (<%= q.question_type.dasherize.capitalize %>)</li>
              <% end %>
            </ol>
          </td>
          <%= link_to 'Display', survey, class: "smallBtn", style: "color: black" %>
          <%= link_to 'Edit', edit_survey_path(survey), class: "smallBtn", style: "color: black" %>
          <%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' }, class: "smallBtn", style: "color: black" %>
          <br />
          <br />

          <%= link_to 'Send Reminders', pages_send_emails_path(id: survey), method: :send_emails, class: "smallBtn" %>
          <a name="show_result" onclick="show_survey_result(<%=index%>)" data-myvalue="<%=survey.id%>" class="smallBtn">Show Results</a>
          <br><br>
        </tr>
        </div>
        <% end %>
      <% else %>
        <tr>You don't have any surveys yet!</tr>
      <% end %>
    </div>
  

  <br />
</div>

<div id="showResultModal" class="modal">
  <div class="modal-content">
    <span class="close_sr"> &times;</span>
    <h2 style="text-align: center">Survey Results:</h2>
    <div class="modal-body">
      <% if !@surveys.empty? %>
        <span id="question1prompt"></span>
      <% else %>

      <% end %>
    </div>
  </div>
</div>

<script>

  window.onclick = function (event) {
    if (event.target == modal_sr) {
      modal_sr.style.display = 'none';
    }
  };

  // var btn_sr = document.getElementById('survey_show_results');
  var modal_sr = document.getElementById('showResultModal');
  var span_sr = document.getElementsByClassName('close_sr')[0];
  var survey_clickedOn;

  // btn_sr.onclick = 
  function show_survey_result(index) {
    modal_sr.style.display = 'block';
    var btn_sr = document.getElementsByName('show_result')[index];
    var survey_clicked_id = btn_sr.getAttribute("data-myvalue");
    // console.log(survey_clicked_id);
    var Survey = gon.Survey;
    var Employee = gon.Employee;
    var AllQuestions = gon.questions;
    var questions = AllQuestions.filter(function(question){
      return question.survey_id == survey_clicked_id;
    });
    // console.log(questions);
    var clickedSurvey = Survey.filter(function(survey){
      return survey.id == survey_clicked_id;
    });
    var isClickedAnonymous = clickedSurvey[0].isAnonymous;
    // console.log("is it anon? ", isClickedAnonymous);

    var what_to_print = "";
    var responses = [];
    var MoodResponse = gon.MoodResponse;
    var OpenEndedResponse = gon.OpenEndedResponse;
    for(var i = 0; i < questions.length; ++i){
      what_to_print += "<br>Q"+(i+1)+". "+questions[i].prompt+" ("+questions[i].question_type+")"+"<br>";
      if(questions[i].question_type == "mood"){
        responses[i] = MoodResponse.filter(function(mResponse){
          return mResponse.question_id == questions[i].id;
        });
        for(var j = 0; j < responses[i].length; ++j){
          if(isClickedAnonymous == "identifiable"){
            var employee = Employee.filter(function(employee){
              return employee.id == responses[i][j].employee_id;
            });
            var employeeName = employee[0].first_name + " " + employee[0].last_name;
            what_to_print += " - "+employeeName+": "+responses[i][j].response + "<br>";
          }
          else{
            what_to_print += " - A"+(j+1)+": "+responses[i][j].response + "<br>";
          }
        }
      }
      else{
        responses[i] = OpenEndedResponse.filter(function(oeResponse){
          return oeResponse.question_id == questions[i].id;
        });
        for(var j = 0; j < responses[i].length; ++j){
          if(isClickedAnonymous == "identifiable"){
            var employee = Employee.filter(function(employee){
              return employee.id == responses[i][j].employee_id;
            });
            var employeeName = employee[0].first_name + " " + employee[0].last_name;
            what_to_print += " - "+employeeName+": " + "(" + responses[i][j].sentiment + ") " +responses[i][j].response + " (Score: " + responses[i][j].score + " Magnitude: " + responses[i][j].magnitude + ")" +"<br>";
          }
          else{
            what_to_print += " - A"+(j+1)+": " + "(" + responses[i][j].sentiment + ") "+responses[i][j].response + " (Score: " + responses[i][j].score + " Magnitude: " + responses[i][j].magnitude + ")" +"<br>" + "<br>";
          }
        }
      }
    };
    document.getElementById("question1prompt").innerHTML = what_to_print;

  };

  span_sr.onclick = function () {
    modal_sr.style.display = 'none';
  };

  var numMood = [];
  function recordSurveyData(moodReponse)
  {
    numMood.push(0);

  }

  var results = [];
  function storeSurveyData(QID, responseName)
  {

  }

</script>